<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--Titulo de la pagina.-->
<title>Incio</title>

<!--Encabezado de la pagina.-->
<h1>MilkSgo</h1>

<p>Para visualizar informacion de los proveedores, <a href="/listar-proveedores">presione aquí</a>.</p>
<p>Para agregar un nuevo proveedor, <a href="/nuevo-proveedor">presione aquí</a>.</p>
<p>Para subir un nuevo archivo de acopio, <a href="/subirArchivoAcopio">presione aquí</a>.</p>
<p>Para visualizar informacion del ultimo archivo de acopio, <a href="/informacionAcopios">presione aquí</a>.</p>
<p>Para subir un nuevo archivo de propiedades, <a href="/subirArchivoPropiedades">presione aquí</a>.</p>
<p>Para visualizar informacion del ultimo archivo de propiedades, <a href="/informacionPropiedades">presione aquí</a>.</p>
<p>Para visualizar planilla de pagos, <a href="/informacionPagos">presione aquí</a>.</p>
</html>