<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--Titulo de la pagina.-->
<title>Subir Archivo Acopio</title>

<!--Encabezado de la pagina.-->
<h1>Nuevo Archivo de Acopio de Leche</h1>

<!--Formulario para ingresar un nuevo archivo.-->
<form th:action="@{/subirArchivoAcopio}" method="POST" enctype="multipart/form-data">
    <br>
    <input type="file" class="form-control" name="file" accept = ".csv">
    <br>
    <input class = "btn btn-primary"
           type="submit" value="Cargar el archivo a la Base de Datos">
</form>

<!--Parrafo que contiene un link para ingresar un nuevo proveedor.-->
<p><a href="/informacionAcopios">Visualizar datos de acopios</a>.</p>

<p><a href="/">Inicio</a>.</p>

</html>