<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <style>
      .informacion-pagos {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: rgb(24, 135, 160);
      }

      nav{
        margin-bottom: 30px;
      }

      .navbar-brand {
        font-style: oblique;
      }

      #Actual {
        color: rgb(78, 78, 214);
      }

      .main-informacion-pagos {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .table {
        width: 800px;
      }

      .table-primary{
        font-size: 12px;
      }
    </style>
    <title>Listado de Pagos</title>
  </head>
  <body class="informacion-pagos">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">MILKSTGO</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/listar-proveedores"
                >Listado Proveedores</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/nuevo-proveedor"
                >Nuevo Proveedor</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/subirArchivoAcopio"
                >Subir Archivo Acopio</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/subirArchivoPropiedades"
                >Subir Archivo Propiedades</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/informacionAcopios"
                >Informacion Acopios</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/informacionPropiedades"
                >Informacion Propiedades</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                id="Actual"
                href="/informacionPagos"
                >Informacion Pagos</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="main-informacion-pagos">
      <br>
      <table class="table table-striped">
        <thead>
          <tr class="table-primary">
            <td>ID</td>
            <td>Quincena</td>
            <td>Código Proveedor</td>
            <td>Nombre Proveedor</td>
            <td>Total Kls Leche</td>
            <td>Número Días de Envío</td>
            <td>Promedio Diario Kls Leche</td>
            <td>Porcentaje Variación Leche</td>
            <td>Porcentaje Grasa</td>
            <td>Porcentaje Variación Grasa</td>
            <td>Porcentaje Sólidos</td>
            <td>Porcentaje Variación Sólidos</td>
            <td>Pago Leche</td>
            <td>Pago Grasa</td>
            <td>Pago Sólidos</td>
            <td>Bonificación frecuencia</td>
            <td>Descuento Variación Leche</td>
            <td>Descuento Variación Grasa</td>
            <td>Descuento Variación Sólidos</td>
            <td>Pago total</td>
            <td>Monto Retención</td>
            <td>Monto Final</td>
          </tr>
        </thead>
        <tbody>
          <tr class="table-primary" th:each="pagos:${pagos}">
            <td th:text="${pagos.id}"></td>
            <td th:text="${pagos.quincena}"></td>
            <td th:text="${pagos.codigo_proveedor}"></td>
            <td th:text="${pagos.nombre_proveedor}"></td>
            <td th:text="${pagos.total_klsleche}"></td>
            <td th:text="${pagos.getNumero_dias_envio()}"></td>
            <td th:text="${pagos.promedio_diario_klsleche}"></td>
            <td th:text="${pagos.porcentaje_variacion_leche}"></td>
            <td th:text="${pagos.porcentaje_grasa}"></td>
            <td th:text="${pagos.porcentaje_variacion_grasa}"></td>
            <td th:text="${pagos.porcentaje_solidos}"></td>
            <td th:text="${pagos.porcentaje_variacion_st}"></td>
            <td th:text="${pagos.pago_leche}"></td>
            <td th:text="${pagos.pago_grasa}"></td>
            <td th:text="${pagos.pago_solidos}"></td>
            <td th:text="${pagos.bonificacion_frecuencia}"></td>
            <td th:text="${pagos.descuento_variacion_klsleche}"></td>
            <td th:text="${pagos.descuento_variacion_grasa}"></td>
            <td th:text="${pagos.descuento_variacion_st}"></td>
            <td th:text="${pagos.pago_total}"></td>
            <td th:text="${pagos.monto_retencion}"></td>
            <td th:text="${pagos.monto_final}"></td>
          </tr>
        </tbody>
      </table>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
